.container__hotsale {
  background-color: #337ab7;
  margin: 40px 0;
  padding: 40px 20px;
  border-radius: 20px;
}
.title {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.title h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  /* font-style: italic; */
  font-family: "Times New Roman", Times, serif;
}
.title h2 i {
  padding-right: 10px;
  font-size: 80px;
  color: rgb(255, 255, 255);
}
.title h2 span {
  font-style: normal;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0 10px;
  padding: 10px;
  background-color: black;
  text-transform: capitalize;
}

.product__sale {
  background: white;
  padding: 10px;
}
.product__item {
  margin: 0 10px;
}
.product__item img {
  width: 100%;
  margin: auto;
}
.product__name {
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 45px;
  font-weight: 500;
}
.product__desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  color: #666;
  text-align: left;
  font-weight: 400;
  margin: 9px 0;
  height: 50px;
}
.products__sale.react-slideshow-container {
  border-radius: 0px !important;
}
.product__price_percent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.old_price {
  margin-right: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #222;
}
.percent {
  text-align: center;
  font-size: 12px;
  background: #d00012;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  width: 32px;
  height: 20px;
  line-height: 20px;
}
.item__price {
  color: #fff;
  font-weight: 700;
  background: #337ab7;
  width: 160px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 16px;
  margin: 10px auto 0;
}

/* max-width: 480px (điện thoại di động) */
@media (max-width: 480px) {
  .title h2 {
    font-size: 45px;
  }
  .item__price {
    font-size: 18px;
    width: 100%;
  }
  .title h2 span:first {
    display: block;
  }
}
